#python
__pycache__
*.pyc
venv/

#robot
*.html
robot/*
*.log
*.jpg
*.png
!exercises/img/clone_repo.png
*.xml
geckodriver-*.log
setup/*.txt
playwright-log.txt

#OS

.DS_Store

#misc
.idea/
*.zip
.*.swp
